@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
@keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #33aab7; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #33aab7; } }

@-webkit-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #33aab7; } }

@-ms-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #33aab7; } }

@-o-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #33aab7; } }

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white; }

.text-muted {
  color: #797c8a; }

.text-primary {
  color: #33aab7; }

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Ropa Sans', sans-serif; }

p.large {
  font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none; }

a {
  color: #33aab7; }

a:hover,
a:focus,
a:active,
a.active {
  color: #28858f; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #f9f9f9; }

.bg-darkest-gray {
  background-color: #2a2b30; }

.btn-centered {
  display: block !important;
  margin: auto !important; }

.btn-primary {
  border-color: #3e3990 !important;
  background: transparent !important;
  color: #3e3990 !important;
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-primary:after {
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: #3e3990 !important;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .btn-primary:hover {
    color: #fff !important;
    background: transparent !important; }
    .btn-primary:hover:after {
      height: 150px;
      width: 150px;
      opacity: 1; }
  .btn-primary:active {
    color: #fff !important;
    background: transparent; }
    .btn-primary:active:after {
      height: 250px;
      width: 250px;
      opacity: 1; }

.btn-colorize-alternative {
  color: #2055a6 !important;
  background-color: transparent !important;
  border: 3px solid #2055a6 !important; }
  .btn-colorize-alternative:after {
    background-color: #2055a6 !important; }
  .btn-colorize-alternative:hover {
    color: #fff !important; }
  .btn-colorize-alternative:active {
    color: #fff !important; }

.btn-colorize-primary {
  color: #33aab7 !important;
  background-color: transparent !important;
  border: 3px solid #33aab7 !important; }
  .btn-colorize-primary:after {
    background-color: #33aab7 !important; }
  .btn-colorize-primary:hover {
    color: #fff !important; }
  .btn-colorize-primary:active {
    color: #fff !important; }

.btn-colorize-secondary {
  color: #3e3990 !important;
  background-color: transparent !important;
  border: 3px solid #3e3990 !important; }
  .btn-colorize-secondary:after {
    background-color: #3e3990 !important; }
  .btn-colorize-secondary:hover {
    color: #fff !important; }
  .btn-colorize-secondary:active {
    color: #fff !important; }

.btn {
  cursor: pointer;
  width: 220px;
  min-width: 220px;
  padding: 25px 0px;
  display: inline-block;
  border: 3px solid #33aab7;
  color: #33aab7;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 400;
  outline: none;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }
  .btn:focus {
    color: #33aab7; }

.btn-xl {
  color: #33aab7;
  background: transparent;
  border-color: #33aab7;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 300;
  overflow: hidden;
  font-size: 18px; }
  .btn-xl:after {
    width: 101%;
    height: 0;
    opacity: 0;
    top: 50%;
    left: 50%;
    background-color: #33aab7;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .btn-xl:hover {
    color: #fff; }
    .btn-xl:hover:after {
      height: 70%;
      opacity: 1; }
  .btn-xl:active {
    color: #fff; }
    .btn-xl:active:after {
      height: 130%;
      opacity: 1; }

.navbar-custom {
  background-color: #2a2b30;
  border-color: transparent; }
  .navbar-custom .navbar-brand {
    color: #33aab7;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }
    .navbar-custom .navbar-brand img {
      max-width: 80px;
      min-width: 60px;
      position: relative;
      margin-bottom: auto;
      bottom: 60%; }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
      color: #28858f; }
  .navbar-custom .navbar-collapse {
    border: none; }
  .navbar-custom .navbar-toggle {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #33aab7;
    border: none;
    font-size: 12px; }
    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
      background-color: transparent; }
  .navbar-custom .nav li a {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:active {
      color: #33aab7;
      outline: none; }
      .navbar-custom .nav li a:hover:before, .navbar-custom .nav li a:active:before {
        opacity: 1; }
      .navbar-custom .nav li a:hover:after, .navbar-custom .nav li a:active:after {
        opacity: 1; }
    .navbar-custom .nav li a:hover:before {
      -webkit-transform: translateX(-12px);
      -moz-transform: translateX(-12px);
      -o-transform: translateX(-12px);
      -ms-transform: translateX(-12px);
      transform: translateX(-12px); }
    .navbar-custom .nav li a:hover:after {
      -webkit-transform: translateX(12px);
      -moz-transform: translateX(12px);
      -o-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px); }
    .navbar-custom .nav li a:focus:before {
      -webkit-transform: translateX(-9px);
      -moz-transform: translateX(-9px);
      -o-transform: translateX(-9px);
      -ms-transform: translateX(-9px);
      transform: translateX(-9px); }
    .navbar-custom .nav li a:focus:after {
      -webkit-transform: translateX(9px);
      -moz-transform: translateX(9px);
      -o-transform: translateX(9px);
      -ms-transform: translateX(9px);
      transform: translateX(9px); }
    .navbar-custom .nav li a:before, .navbar-custom .nav li a:after {
      -webkit-transition: transform 0.3s, opacity 0.2s;
      -moz-transition: transform 0.3s, opacity 0.2s;
      -o-transition: transform 0.3s, opacity 0.2s;
      -ms-transition: transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
      top: 28%;
      opacity: 0; }
    .navbar-custom .nav li a:before {
      content: "[";
      display: inline;
      position: absolute;
      -webkit-transform: translateX(15px);
      -moz-transform: translateX(15px);
      -o-transform: translateX(15px);
      -ms-transform: translateX(15px);
      transform: translateX(15px);
      left: 15px; }
    .navbar-custom .nav li a:after {
      content: "]";
      display: inline;
      position: absolute;
      -webkit-transform: translateX(-15px);
      -moz-transform: translateX(-15px);
      -o-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      transform: translateX(-15px);
      right: 15px; }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    background-color: transparent;
    display: inline-block;
    color: #33aab7; }
    .navbar-custom .navbar-nav > .active > a:before {
      opacity: 1;
      -webkit-transform: translateX(-12px);
      -moz-transform: translateX(-12px);
      -o-transform: translateX(-12px);
      -ms-transform: translateX(-12px);
      transform: translateX(-12px); }
    .navbar-custom .navbar-nav > .active > a:after {
      opacity: 1;
      -webkit-transform: translateX(12px);
      -moz-transform: translateX(12px);
      -o-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px); }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #28858f; }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-custom .navbar-toggle {
      display: none; }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      .navbar-custom .navbar-brand img {
        max-width: 100px;
        bottom: 80%; }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 3px; }
    .navbar-custom .nav li a:before, .navbar-custom .nav li a:after {
      top: 32%; }
  .typed-cursor {
    font-size: 75px !important;
    line-height: normal; }
  .services-item .services-caption {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .services-item:hover .services-caption {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  .services-item:hover img {
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px); } }

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #2a2b30;
    padding: 10px 0; }
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em; } }

header {
  background-image: url("../img/map-image.png");
  background-color: #353237;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white; }
  header .intro-text {
    position: relative;
    padding-top: 50%;
    padding-bottom: 100px; }
    header .intro-text .intro-lead-in {
      font-family: 'Ropa Sans', sans-serif;
      font-size: 22px;
      line-height: 22px;
      margin: auto;
      margin-top: 5vh; }
      header .intro-text .intro-lead-in:before {
        content: " ";
        display: block;
        margin-left: auto;
        margin: auto;
        bottom: 0;
        text-align: center;
        margin-bottom: 10px;
        width: 40%;
        /* or 100px */
        border-bottom: 2px solid #3e3990; }
      header .intro-text .intro-lead-in:after {
        content: " ";
        display: block;
        margin-left: auto;
        margin: auto;
        bottom: 0;
        text-align: center;
        margin-top: 10px;
        width: 40%;
        /* or 100px */
        border-bottom: 2px solid #3e3990; }
      header .intro-text .intro-lead-in span {
        display: inline;
        color: #33aab7; }
    header .intro-text .intro-heading {
      font-family: 'Dosis', sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 50px;
      line-height: 50px;
      display: inline;
      margin-bottom: 25px; }
    header .intro-text .intro-subtitle {
      display: block;
      font-size: 14px;
      margin-bottom: 10vh;
      font-family: 'Ropa Sans', sans-serif; }

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px; }
    header .intro-text .intro-lead-in {
      font-family: 'Ropa Sans', sans-serif;
      font-size: 40px;
      line-height: 40px;
      margin-top: 5vh; }
    header .intro-text .intro-subtitle {
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: 'Dosis', sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 75px;
      display: inline-block;
      line-height: 75px;
      margin-bottom: 50px; } }

.full-page-section {
  height: 100vh; }

.typed-cursor {
  display: inline-block;
  opacity: 1;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 100;
  color: #33aab7 !important;
  -webkit-transition: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite; }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 40px; }
    section h2.section-heading:after {
      display: block;
      content: ' ';
      margin: auto;
      width: 100px;
      border-bottom: 2px solid #3e3990; }
  section h3.section-subheading {
    font-size: 16px;
    font-family: 'Ropa Sans', sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }

::-webkit-input-placeholder {
  color: #2055a6;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1; }

:-moz-placeholder {
  color: #2055a6;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1; }

::-moz-placeholder {
  color: #2055a6;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1; }

:-ms-input-placeholder {
  color: #2055a6;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1; }

@media (min-width: 768px) {
  section {
    padding: 100px 0; } }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

#services .services-item {
  overflow: hidden;
  right: 0;
  padding: 0 !important;
  margin: 5px !important;
  display: inline-block;
  max-width: 400px;
  max-height: 300px; }
  #services .services-item .services-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
  #services .services-item .services-caption, #services .services-item img {
    max-width: 110%;
    -webkit-transition: transform 0.4s, opacity 0.1s;
    -moz-transition: transform 0.4s, opacity 0.1s;
    -o-transition: transform 0.4s, opacity 0.1s;
    -ms-transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s; }
  #services .services-item .services-caption {
    position: absolute;
    height: 90px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    color: #5e58bd;
    background-color: #2a2b30;
    text-align: center;
    padding: 10px 15px; }
    #services .services-item .services-caption h4 {
      text-transform: none;
      margin: 0;
      margin-bottom: 10px; }
    #services .services-item .services-caption p {
      font-family: 'Ropa Sans', sans-serif;
      font-style: italic;
      font-size: 16px;
      line-height: 20px;
      margin: 0; }

#services * {
  z-index: 2; }

@media (min-width: 767px) {
  #services .services-item {
    margin: 0 0 30px; } }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      overflow: hidden;
      position: absolute;
      z-index: 100;
      background-color: #33aab7;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }

section#send-curriculum {
  padding-top: 20px; }

section#workspace .img-div {
  height: 230px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-left: 0;
  overflow: hidden;
  max-width: 345px; }
  section#workspace .img-div img {
    max-width: 130%; }

.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

aside.clients img {
  margin: 50px auto; }

section#send-curriculum .error.form-group .form-control {
  border-color: #2055a6; }

section#send-curriculum .form-group {
  margin-bottom: 25px;
  position: relative; }
  section#send-curriculum .form-group input, section#send-curriculum .form-group textarea {
    padding: 20px; }
  section#send-curriculum .form-group select {
    padding: 20px !important; }
  section#send-curriculum .form-group input.form-control, section#send-curriculum .form-group select {
    height: auto;
    position: relative; }
  section#send-curriculum .form-group textarea.form-control {
    height: 234px; }

section#send-curriculum .form-control:focus {
  border-color: #33aab7;
  box-shadow: none; }

section#send-curriculum .text-danger {
  display: inline;
  position: absolute;
  display: block;
  width: 100%;
  top: 0; }
  section#send-curriculum .text-danger ul {
    border-radius: 3px;
    padding: 2px 5px;
    background: #3e3990;
    display: inline-block;
    position: absolute;
    top: -2.5vh;
    right: 2vw;
    color: white; }
    section#send-curriculum .text-danger ul li {
      list-style: none; }

section#contact {
  background-color: #2a2b30;
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: white; }

footer {
  padding: 25px 0;
  background: #2a2b30;
  text-align: center; }
  footer p {
    margin-bottom: 0;
    color: white; }
  footer span.copyright {
    line-height: 40px;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #f9f9f9;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #33aab7;
    text-transform: none; }
    footer ul.quicklinks img {
      vertical-align: text-bottom; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    background-color: #2a2b30;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    background-color: #3e3990;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #2e2b6b; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.services-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto; }

.services-modal .modal-text {
  margin-top: 25px;
  text-indent: 25px;
  text-align: justify !important;
  display: inline-block;
  vertical-align: bottom;
  float: none; }

.services-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 30px 0;
  text-align: center; }
  .services-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  .services-modal .modal-content p {
    margin-bottom: 30px; }
  .services-modal .modal-content .modal-text p {
    text-align: justify; }
  .services-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: 'Ropa Sans', sans-serif;
    font-style: italic;
    font-size: 16px; }
  .services-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .services-modal .modal-content img {
    margin-bottom: 30px; }

.services-modal .close-modal {
  z-index: 99;
  position: absolute;
  width: 60px;
  height: 25px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .services-modal .close-modal:hover {
    opacity: 0.3; }
  .services-modal .close-modal .lr {
    height: 25px;
    width: 1px;
    margin-left: 35px;
    background-color: #2a2b30;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    .services-modal .close-modal .lr .rl {
      height: 25px;
      width: 1px;
      background-color: #2a2b30;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }

.services-modal .modal-backdrop {
  opacity: 0;
  display: none; }

@media (min-width: 768px) {
  .modal {
    margin: auto;
    width: 90%;
    height: 85%; } }

#not-so-secret-link {
  cursor: text; }

::-moz-selection {
  text-shadow: none;
  background: #33aab7; }

::selection {
  text-shadow: none;
  background: #33aab7; }

img::selection {
  background: transparent; }

.fa-circle {
  color: #33aab7; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: #33aab7; }

.hamburgerButton {
  -webkit-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
  -ms-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 70px;
  height: 50px;
  z-index: 30; }
  .hamburgerButton svg {
    width: 100px;
    cursor: pointer; }
  .hamburgerButton path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #33aab7;
    stroke-dashoffset: 0px; }

.cross path {
  stroke: #2055a6; }

path#top,
path#bottom {
  stroke-dasharray: 240px 950px; }

path#middle {
  stroke-dasharray: 240px 240px; }

.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px; }

.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px; }

.inputfile {
  border-radius: 10px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  color: #33aab7; }
  .inputfile + .input-text {
    -webkit-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    -o-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    -ms-transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
    font-size: 1.75rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */ }
    .inputfile + .input-text svg {
      width: 2em;
      height: 2em;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      vertical-align: middle;
      fill: white; }
  .inputfile:focus + .input-text {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px; }

.inputfile-6 + .input-text {
  color: #3e3990;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  padding: 0;
  border: 1px solid #ccc;
  width: 100% !important;
  border-radius: 4px; }
  .inputfile-6 + .input-text span {
    padding: 0;
    vertical-align: middle !important;
    width: 60%; }
  .inputfile-6 + .input-text strong {
    font-weight: 300;
    text-align: center;
    width: 40%;
    font-size: 2rem; }
    .inputfile-6 + .input-text strong span {
      width: 100%;
      padding: 0;
      min-height: 0; }

.inputfile-6 + label span,
.inputfile-6 + label strong {
  padding: 0.625rem 1.25rem; }

.inputfile-6 + .input-text span,
.inputfile-6 + .input-text strong {
  padding: 2vh 3vh;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* 10px 20px */ }

.inputfile-6 + .input-text span {
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  vertical-align: top; }

.inputfile-6 + .input-text strong {
  height: 100%;
  color: #f1e5e6;
  background-color: #3e3990;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-large {
  width: 100%;
  min-width: 240px;
  max-width: 100%;
  margin: 0 !important; }

.form-control {
  color: #33aab7; }

@media (min-width: 768px) {
  .input-text strong {
    position: relative; }
    .input-text strong i {
      width: 100%;
      overflow: hidden;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0; }
      .input-text strong i:before {
        position: absolute;
        height: 100%;
        width: 100%;
        line-height: 1.7;
        top: -100%;
        font-size: 180%;
        left: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s; }
  .input-text:hover strong span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -o-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%); }
  .input-text:hover strong i:before {
    top: 0; } }

@media screen and (max-width: 50em) {
  .inputfile-6 + .input-text strong {
    display: block;
    width: 100%;
    padding: 0; }
    .inputfile-6 + .input-text strong span {
      padding: 0;
      margin-left: 10px;
      display: inline;
      width: 80%; }
  .inputfile-6 + .input-text span {
    width: 100%;
    text-align: center;
    height: 7vh;
    line-height: 7vh; } }

section#depoimentos {
  background-image: url("../img/team/depoimentos.png");
  background-color: #3e3694;
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  color: white; }
  section#depoimentos h2 {
    display: inline-block; }
    section#depoimentos h2:after {
      border-color: #33aab7; }
  section#depoimentos p {
    text-align: justify;
    text-indent: 25px; }

.arrows {
  position: absolute;
  left: 0;
  bottom: -8vh;
  width: 30px;
  height: 45px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
  .arrows path {
    stroke: #33aab7;
    fill: transparent;
    stroke-width: 1.5px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; }
    .arrows path:nth-child(1) {
      animation-delay: -1s;
      -webkit-animation-delay: -1s; }
    .arrows path:nth-child(2) {
      animation-delay: -0.5s;
      -webkit-animation-delay: -0.5s; }
    .arrows path:nth-child(3) {
      animation-delay: 0s;
      -webkit-animation-delay: 0s; }

#arrow-scroll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10vh;
  font-family: 'Ropa Sans', sans-serif; }
  #arrow-scroll:hover {
    text-decoration: none;
    color: #33aab7; }

section#design-sprint {
  background-image: url("../img/services/design_sprint.png");
  background-color: #33aab7;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  color: white; }
  section#design-sprint h2 {
    margin-bottom: 10px;
    display: inline-block; }
  section#design-sprint .section-sub-heading {
    text-indent: 0px;
    margin-bottom: 20px; }
  section#design-sprint .section-text p {
    text-indent: 25px;
    text-align: justify; }

@media (min-width: 768px) {
  section#design-sprint {
    height: 100vh; }
    section#design-sprint a {
      bottom: -15vh; } }

@media (min-width: 768px) {
  .arrows {
    bottom: 2vh; }
  #arrow-scroll {
    bottom: 0; } }

@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-moz-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-o-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
