@import "variables";
@import "mixins";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:white;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 16px;
    line-height: 1.5;
    @include serif-font;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons

.btn-centered{
    display:block !important;
    margin:auto !important;
}

.btn-primary {
    border-color:$theme-secondary !important;
    background:transparent !important; 
    color:$theme-secondary !important;
    overflow:hidden;
    @include heading-font;
    font-weight: 700;
    &:after{
        width:0;
        height:0;
        opacity:0;
        border-radius:50%;
        top:50%;
        left:50%;
        background-color:$theme-secondary !important;
        @include transform(translateX(-50%) translateY(-50%));
    }
    &:hover{
        color:#fff !important;
        background:transparent !important;
        &:after{
            height:150px;
            width:150px;
            opacity:1;
        }
    }
    &:active{
        color:#fff !important;
        background:transparent;
        &:after{
            height:250px;
            width:250px;
            opacity:1;
        }
    }
}


.btn-colorize-alternative{
    @include colorize-button($theme-alternative !important,transparent !important,$theme-alternative !important);
}

.btn-colorize-primary{
    @include colorize-button($theme-primary !important,transparent !important,$theme-primary !important);
}

.btn-colorize-secondary{
    @include colorize-button($theme-secondary !important,transparent !important,$theme-secondary !important);
}

.btn {
	cursor: pointer;
	width:220px;
	min-width:220px;
	padding: 25px 0px;
	display: inline-block;
    border: 3px solid $theme-primary;
	color: $theme-primary;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:1.1em;
	font-weight: 400;
	outline: none;
	position: relative;
    z-index:2;
    @include transition(all 0.3s);
    &:after {
        content: '';
        position: absolute;
        z-index:-1;
        @include transition(all 0.3s);
    }
    &:focus{
        color:$theme-primary;
    }
}

.btn-xl {
    color:$theme-primary; 
    background:transparent;
    border-color:$theme-primary;
    @include heading-font;
    font-weight: 300;
    overflow:hidden;
    &:after{
        width:101%;
        height:0;
        opacity:0;
        top:50%;
        left:50%;
        background-color:$theme-primary;
        @include transform(translateX(-50%) translateY(-50%));
    }
    &:hover{
        color:#fff;
        &:after{
            height:70%;
            opacity:1;
        }
    }
    &:active{
        color:#fff;
        &:after{
            height:130%;
            opacity:1;
        }
    }
    font-size: 18px;
}

// Custom Navigation Bar

.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    .navbar-brand {
        & img{
            max-width: 80px;
            min-width: 60px;
            position: relative;
            margin-bottom: auto;
            bottom: 60%;
        }
        color: $theme-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-collapse {
        border:  none;
    }
    .navbar-toggle {
        @include heading-font;
        color: $theme-primary;
        border:none;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
    .nav {
        
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:active {
                    color: $theme-primary;
                    outline: none;
                    &:before{
                        opacity:1;
                    }
                    &:after{
                        opacity:1;
                    }
                }
                &:hover{
                    &:before{
                        @include transform(translateX(-12px));
                    }
                    &:after{
                        @include transform(translateX(12px));
                    }
                }
                &:focus{
                    &:before{
                        @include transform(translateX(-9px));
                    }
                    &:after{
                        @include transform(translateX(9px));
                    }
                }
                &:before,&:after{
                    @include transition(transform 0.3s, opacity 0.2s);
                   top:28%;
                    opacity:0;
                }
                &:before{
                    @include pseudo($content:'[');
                    @include transform(translateX(15px));
                    left:15px;
                }
                &:after{
                    @include pseudo($content:']');
                    @include transform(translateX(-15px));
                    right:15px;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        background-color: transparent;
        display: inline-block;
        color: $theme-primary;
        &:before{
            opacity:1;
            @include transform(translateX(-12px));
        }
        &:after{
            opacity:1;
            @include transform(translateX(12px));
        }
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        background-color: transparent;
        color: darken($theme-primary, 10%);
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-toggle {
            display: none;
        }
        .navbar-brand {
            & img{
                max-width: 100px;
                bottom:80%;
            }
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
        .nav{
            li{
                a{
                    &:before,&:after{
                        top:32%;
                    }
                }
            }
        }
    }

    .typed-cursor{
        font-size:75px !important;
        line-height:normal;

    }
    
    .services-item {
        .services-caption {
            @include transform(translateY(100%));
        }
        &:hover{
            .services-caption{
                @include transform(translateY(0px));
            }
            img{
                @include transform(translateY(-60px));
            }
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $gray-darker;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}


header {
    background-image: url('../img/map-image.png');
    background-color: #353237;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        position:relative;
        padding-top: 50%;
        padding-bottom: 100px;
        .intro-lead-in {
            @include serif-font;
            font-size: 22px;
            line-height: 22px;
            margin:auto;
            margin-top:5vh;
            &:before {    
                content: " ";
                display: block;
                margin-left: auto;
                margin: auto;
                bottom: 0;
                text-align: center;
                margin-bottom: 10px;
                width   : 40%;  /* or 100px */
                border-bottom:2px solid $theme-secondary;
            }
            &:after {
                content: " ";
                display: block;
                margin-left: auto;
                margin: auto;
                bottom: 0;
                text-align: center;
                margin-top: 10px;
                width   : 40%;  /* or 100px */
                border-bottom:2px solid $theme-secondary;
            }
            & span{
                display:inline;
                color: $theme-primary;
            }
        }
        .intro-heading {
            @include heading-font;
            font-size: 50px;
            line-height: 50px;
            display:inline;
            margin-bottom: 25px;
        }
        .intro-subtitle{
            display:block;
            font-size:14px;
            margin-bottom:10vh;
            @include serif-font;
        }
    }
}
@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 200px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-size: 40px;
                line-height: 40px;
                margin-top:5vh;
            }
            .intro-subtitle{
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 300;
                font-size: 75px;
                display:inline-block;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}


.full-page-section{
    height:100vh;
}

.typed-cursor {
    display:inline-block;
    opacity: 1;
    @include heading-font;
    font-size: 50px;
    font-weight: 100;
    color:$theme-primary !important;
    @include animation(1s blink step-end infinite);
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 40px;
        &:after{
            display:block;
            content:' ';
            margin:auto;
            width:100px;
            border-bottom:2px solid $theme-secondary;
        }
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@include placeholder{
    color:$theme-alternative;
    @include heading-font;
    font-weight:500;
    opacity:1;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

// services Section

#services {
    .services-item {
        overflow:hidden;
        right: 0;
        padding:0 !important;
        margin:5px !important;
        display: inline-block ;
        max-width: 400px;
        max-height: 300px;
        .services-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;  
        }
        .services-caption, img{
            max-width: 110%;
            @include transition(transform 0.4s, opacity 0.1s);
        }
        .services-caption {
            position: absolute;
            height:90px;
            width:100%;
            bottom:0px;
            left:0px;
            margin: 0 auto;
            color:lighten($theme-secondary,15%);
            background-color: $gray-darker;
            text-align: center;
            padding: 10px 15px;
            h4 {
                text-transform: none;
                margin: 0;
                margin-bottom:10px;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                line-height:20px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #services {
        .services-item {
            margin: 0 0 30px;
        }
    }
}

// Timeline

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: #f1f1f1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            overflow:hidden;
            position: absolute;
            z-index: 100;
            background-color: $theme-primary;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

section#send-curriculum{
    padding-top:20px;
}

// Team Section
section#workspace{
    .img-div{
        height:230px;
        margin-bottom:20px;
        margin-left:15px;
        padding-left:0;
        overflow:hidden;
        max-width:345px;
        img{
            max-width:130%;
        }
    }
    h3.section-subheading {
    }
    
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Clients Aside

aside.clients {
    img {
        margin: 50px auto;
    }
}

// Contact Section
section#send-curriculum{
    .error.form-group {
        .form-control{
            border-color:$theme-alternative;
        }
    }
    .form-group {
        margin-bottom: 25px;
        position: relative;
        input,textarea {
            padding: 20px;
        }
        select{
            padding: 20px !important;
        }
        input.form-control ,select{
            height: auto;
            position:relative;
        }
        textarea.form-control {
            height: 234px;
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    .text-danger {
            display: inline;
            position: absolute;
            display: block;
            width: 100%;
            top: 0;
            & ul{
                border-radius:3px;
                padding: 2px 5px;
                background: $theme-secondary;
                display:inline-block;
                position: absolute;
                top: -2.5vh;
                right: 2vw;
                color: white;
                & li{
                    list-style: none;
                }
            }
    }
}
section#contact {
    background-color: $gray-darker;
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
}


// Footer

footer {
    padding: 25px 0;
    background: $gray-darker;
    text-align: center;
    p{
        margin-bottom:0;
        color:white;
    }
    span.copyright {
        line-height: 40px;
        @include heading-font;
        color:$gray-lighter;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        color:$theme-primary;
        img{
            vertical-align: text-bottom;
        }
        text-transform: none;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            background-color:$theme-secondary;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: darken($theme-secondary,10%);
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.services-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-text{
        margin-top:25px;
        text-indent: 25px;
        text-align: justify !important;
        display: inline-block;
        vertical-align: bottom;
        float: none;
        
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 30px 0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        .modal-text{
            p{
                text-align: justify;
            }
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        z-index: 99;
        position: absolute;
        width:60px;
        height:25px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:25px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:25px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

@media(min-width:768px){
    .modal{
        margin: auto;
        width: 90%;
        height: 85%;
    }

}

#not-so-secret-link{
      cursor:text;  
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: $theme-primary ;
}

::selection {
    text-shadow: none;
    background: $theme-primary ;
}

img::selection {
    background: transparent;
}

.fa-circle{
    color: $theme-primary;
}
img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}

.hamburgerButton {
    @include transition(all 0.4s cubic-bezier(.02, .01, .47, 1));
    display:inline-block;
    padding: 0;
    margin: 0;
    width: 70px;
    height: 50px;
    z-index:30;
    & svg {
        width: 100px;
        cursor: pointer;
    }
    
    & path {
        fill: none;
        @include transition(stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25),
        stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25));
        stroke-width: 40px;
        stroke-linecap: round;
        stroke: $theme-primary;
        stroke-dashoffset: 0px;
    }
}
.cross {
    path {
        stroke: $theme-alternative;
    }
}

path#top,
path#bottom {
    stroke-dasharray: 240px 950px;
}

path#middle {
    stroke-dasharray: 240px 240px;
}

.cross path#top,
.cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}

.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
}

.inputfile {
    border-radius:10px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    color: $theme-primary;
    & + .input-text {
        @include transition(all 0.4s cubic-bezier(.02, .01, .47, 1));
        font-size: 1.75rem;
        /* 20px */
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
        /* 10px 20px */
        & svg {
            width: 2em;
            height: 2em;
            @include transition(all 0.3s ease-in-out);
            vertical-align: middle;
            fill: white;
        }
    }
    
    &:focus + .input-text{
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
}



.inputfile-6{
    & + .input-text {
        color: $theme-secondary;
        @include transition(all 0.3s ease-in-out);
        background-color: lighten($theme-secondary,80%);
        padding: 0;
        border: 1px solid #ccc;
        width:100% !important;
        border-radius:4px;
        & span{
            padding: 0;
            vertical-align: middle !important;
            width:60%;
        }
        & strong{
            font-weight:300;
            text-align:center;
            width:40%;
            font-size:2rem;
            & span{
                width:100%;
                padding: 0;
                min-height: 0;
            }
        }
    }
    
    & + label span,
    & + label strong {
        padding: 0.625rem 1.25rem;
    }
    & + .input-text span,
    & + .input-text strong {
        padding: 2vh 3vh;
        @include transition(all 0.3s ease-in-out);
        /* 10px 20px */
    }
    
    & + .input-text span {
        min-height: 2em;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include transition(all 0.3s ease-in-out);
        overflow: hidden;
        vertical-align: top;
    }
    
    & + .input-text strong {
        height: 100%;
        color: #f1e5e6;
        background-color: $theme-secondary;
        display: inline-block;
        @include transition(all 0.3s ease-in-out);
    }
}


.btn-large{
    width:100%;
    min-width:240px;
    max-width:100%;
    margin:0 !important;
    
}

.form-control{
    color:$theme-primary;
}

@media(min-width:768px){
    .input-text{
        & strong{
            position:relative;
            & i{
                width:100%;
                overflow:hidden;
                position: absolute;
                height:100%;
                left: 0;
                top: 0;
                &:before{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    line-height: 1.7;
                    top: -100%;
                    font-size: 180%;
                    left: 0;
                    @include transition(all 0.3s);
                }
            }
        }
        &:hover{
            & strong{
                & span{
                    @include transform(translateY(300%));
                }
                & i:before{
                    top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 50em) {
	.inputfile-6 + .input-text {
	    & strong {
    		display: block;
            width:100%;
            padding:0;
            & span{
                padding:0;
                margin-left:10px;
                display:inline;
                width:80%;
            }
    	}
    	& span{
    	    width:100%;
    	    text-align:center;
    	    height:7vh;
    	    line-height:7vh;
    	}
	}
}

section#depoimentos{
    background-image:url('../img/team/depoimentos.png');
    background-color:#3e3694;
    background-position:right;
    h2{
        display:inline-block;
        &:after{
            border-color:$theme-primary;
        }
    }
    p{
        text-align:justify;
        text-indent: 25px;
    }
    background-size:auto;
    background-repeat:no-repeat;
    color:white;
    
}

.arrows {
    position: absolute;
    left: 0;
    bottom: -8vh;
    width:30px;
    height:45px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    & path {
        stroke: $theme-primary;
        fill: transparent;
        stroke-width: 1.5px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
        @for $i from 0 to 3{
            &:nth-child(#{$i+1}){
                animation-delay: #{-1+0.5*$i}s;
                -webkit-animation-delay: #{-1+0.5*$i}s;
            }
        }
    }
}

#arrow-scroll{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    @include serif-font;
    &:hover{
        text-decoration:none;
        color:$theme-primary;
    }
}

section#design-sprint{
    background-image:url('../img/services/design_sprint.png');
    background-color:$theme-primary;
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position:right;
    color:white;
    h2{
        margin-bottom:10px;
        display:inline-block;
    }
    
    .section-sub-heading{
        text-indent:0px;
        margin-bottom:20px;
    }
    
    .section-text p{
        text-indent:25px;
        text-align:justify;
    }
}

@media(min-width:768px){
    section#design-sprint{
        height:100vh;
        a{
            bottom:-15vh;
        }
    }
}

@media(min-width:768px){
    .arrows{
        bottom:2vh;
    }
    
    #arrow-scroll{
        bottom: 0;
    }
}

@include keyframes(arrow){
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
