// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #33aab7;
$theme-secondary:    #3e3990;
$theme-alternative:    #2055a6;
$theme-danger:     #e74c3c;

$gray-darker:      #2a2b30; // #222
$gray-base:        darken($gray-darker,13.5%);
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $theme-primary;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $theme-primary;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $theme-primary;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $theme-primary;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $theme-primary;
  }
}